xformers==0.0.27.post2
diffusers>=0.32.0
transformers==4.56.2
sentencepiece
accelerate>=0.34.0
safetensors>=0.4.4
open-clip-torch>=2.24.0
einops
opencv-python-headless
imageio
lpips
scikit-image
fastapi
uvicorn[standard]
loguru
trimesh
pygltflib
simple-aesthetics-predictor
httpx
python-multipart
python-dotenv
hf_transfer
kornia
# SyncDreamer
pytorch_lightning==1.9.0
Pillow==10.0.0
opencv-python
taming-transformers-rom1504 
tqdm
numpy
webdataset
omegaconf
pymcubes
carvekit-colab
open3d
easydict
nerfacc
imageio-ffmpeg==0.4.7
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
git+https://github.com/openai/CLIP.git